@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap");

/*
* The styles declared in this file are generic styles that will be applied to all components
* in this project unless a custom style is given to each individual component.
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", "Lucida Sans", "Lucida Sans Regular",
    "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 10px;
  background-color: #333;
  color: white;
}

.app_header {
  color: red;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-green {
  background-color: green;
}

.cursor:hover {
  cursor: pointer;
}

img {
  width: 100%;
}

.center-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center-horizontal {
  display: flex;
  align-items: center;
}

ul {
  list-style: none;
  padding: 0;
}
