.card {
  max-width: 150px;
  background-color: white;
  border-radius: 3px;
}

.card__wrapper {
  width: 90%;
  margin: 0 auto;
  padding: 20px 10px;
}
.card__label {
  color: black;
  font-weight: bold;
}

.card__image {
  max-width: 100px;
  width: 100%;
  margin-top: 10px;
}
